<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <module name="NewlineAtEndOfFile"/>
  <module name="FileTabCharacter"/>
  <module name="RegexpSingleline">
    <property name="format" value="System\.(out|err)\.print"/>
    <property name="message" value="Use the project logger instead of System.out/System.err"/>
  </module>
  <module name="TreeWalker">
    <module name="AvoidStarImport"/>
    <module name="EmptyStatement"/>
    <module name="IllegalCatch">
      <property name="illegalClassNames" value="java.lang.Throwable"/>
    </module>
    <module name="OneStatementPerLine"/>
    <module name="FallThrough"/>
  </module>
</module>
